body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name {
    color: blueviolet;
}

section {
    display: flex;
    padding: 20px;

}

.section-1 {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.section-1-half {
    width: 50%;
    padding: 5%;
}

.section-1-half img {
    width: 80%;
}

.hireme-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}


.section-2 {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}

.download-resume-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.section-2-half {
    width: 50%;
    padding: 5%;
}

.section-2-half img {
    width: 100%;
}